<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:websocket="http://www.springframework.org/schema/websocket"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/websocket
				http://www.springframework.org/schema/websocket/spring-websocket.xsd
					http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
							http://www.springframework.org/schema/context
								http://www.springframework.org/schema/context/spring-context.xsd
									http://www.springframework.org/schema/data/mongo       
										http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd   
											http://www.springframework.org/schema/tx
											http://www.springframework.org/schema/tx/spring-tx.xsd
										http://www.springframework.org/schema/aop
									http://www.springframework.org/schema/aop/spring-aop.xsd
								http://www.springframework.org/schema/cache
							http://www.springframework.org/schema/cache/spring-cache.xsd
						http://activemq.apache.org/schema/core 
					http://activemq.apache.org/schema/core/activemq-core.xsd
				http://www.springframework.org/schema/jms 
			http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="com.jiajun">
		<context:exclude-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
	
	<!-- 使用加密的占位符解析, key是加解密的公key -->
	<bean class="com.jiajun.imagehosting.config.EncryPropertyPlaceholderConfigurer">
		<property name="key" value=""/>
		<property name="locations" value="classpath:config/*.properties"/>
	</bean>
	
	<bean name="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	
	<!-- 单利使用cglib代理效率更高 -->
	<aop:config proxy-target-class="true">
		<aop:pointcut id="pc" expression="execution(* com.jiajun.imagehosting.service..*(..))" />
		<aop:advisor pointcut-ref="pc" advice-ref="txAdvice" />
	</aop:config>
	
	<tx:advice id="txAdvice" transaction-manager="transactionManager" >
		<tx:attributes>
			<tx:method name="save*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />				
			<tx:method name="insert*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="add*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />				
			<tx:method name="delete*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="remove*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="delete*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="modify*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />								
			<tx:method name="update*" propagation="REQUIRED" read-only="false"
				rollback-for="java.lang.Exception" />
			<tx:method name="batchDelete" propagation="REQUIRED"
				read-only="false" rollback-for="java.lang.Exception" />
		</tx:attributes>
	</tx:advice>
	
	
	<cache:annotation-driven cache-manager="cacheManager" />
	
	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
		<property name="cacheManager" ref="ehcacheManager" />
		<property name="transactionAware" value="true"/>
	</bean>

	<bean id="ehcacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
		<property name="configLocation" value="classpath:ehcache/ehcache.xml" />
		<property name="cacheManagerName" value="springEhcacheManager"/>
	</bean>
	
</beans>